* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* Root Variavbles */
:root {
  /* Background Color */
  --bg-primary-color: #0c0c0c;
  /* Hover Color */
  --hover-primary-color: #8b3535;
  /* Text Color */
  --text-primary-color: #f0f0f0;
  /* Border Color */
  --border-primary-color: #333333;
  /* Spacing */
  --space-xs: 4px; /*xs = extra small*/
  --space-sm: 8px; /*sm = small*/
  --space-md: 16px; /*md = medium*/
  --space-lg: 24px; /*lg = large*/
  --space-xl: 32px; /*xl = extra large*/
  --space-2xl: 40px; /*2xl = double extra large*/
  --space-3xl: 48px; /*3xl = triple extra large*/

  /* Border Radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}
html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main,
section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  gap: var(--space-md);
}
section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info {
  padding: var(--space-sm) var(--border-radius-md);
  border: 3px solid var(--border-primary-color);
  border-radius: var(--border-radius-md);
}
.info:hover {
  background-color: var(--hover-primary-color);
  cursor: pointer;
}
.board {
  border: var(--border-primary-color);
  border: 3px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-primary-color);
}
